header
    .header
        section.page-section.clearfix
            .container
                img.logo.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/logo.png', alt='...')
                h1.site-heading.text-center.text-faded.d-none.d-lg-block
                    span.site-heading-upper.mb-3 Moon Landing RV Park and Marina
                    span.site-heading-lower Lake Greenwood, SC