// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
    .container
        a.navbar-brand.text-uppercase.fw-bold.d-lg-none(href='index.html') Start Bootstrap
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase.text-center(href='index.html') Home
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase.text-center(href='about.html') Weather
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase.text-center(href='church.html') Church Services
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase.text-center(href='store.html') Hustler Trailers
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase.text-center(href='contact.html') Contact Us
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase.text-center(href='products.html') Points of Interest
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase.text-center(href='store.html') Photo Album
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase.text-center(href='about.html') Wilderness Kayaks
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase.text-center(href='products.html') Directions