doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Moon Landing RV Park and Marina

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img-right.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/intro.jpg', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper We are
                            span.section-heading-lower Family Owned and Operated
                        p.mb-3
                            | Located on beautiful Lake Greenwood in Cross Hill (Laurens County), South Carolina.  Our spectacular lake location, clean, spacious sites, and friendly staff set the stage for a wonderful camping or boating getaway.

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img-left.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/intro-boating.jpg', alt='...')
                    .intro-text-right.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Lake Greenwood
                            span.section-heading-lower Time to Relax
                        p.mb-3
                            | Located on nearly 1/4 mile of shoreline on beautiful Lake Greenwood, there are thirty acres of development underway.  Moon Landing is ideal for those who prefer a quiet and relaxing atmosphere.

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-lower Warm Welcome
                            p.mb-0
                                | Enjoy a picturesque sunrise or sunset from our 10 miles of lake view.  Bring your fishing pole and prepare to catch fish on one of the top rated fishing lakes in South Carolina (license required).  Or, bring your boat and launch into exploring Lake Greenwood's 11,400 acres and approximately 180 miles of shoreline.  Our facilities include a camp store for picnic supplies, bait and tackle, hunting/fishing licenses, gas dock, and LP Gas refills.  In addition to the two boat ramps, we have 50 boat slips and unlimited dry storage. For those guests who enjoy surfing the web, we also have WIFI (Wireless Internet).  Our picnic pavilion is the site of our Sunday worship services and many social activities.  Please check our calendar for details.  The pavilion is also available to campers for family picnics, birthday parties, and just enjoying the spectacular 7 mile view to Lake Greenwood's Dam.

        include includes/footer

        include includes/scripts
