doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Moon Landing RV Park and Marina - Points of Interest

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.points-heading
            .container
                img.img-fluid.rounded.points-heading-img.mb-3.mb-lg-0(src='assets/img/points.jpg', alt='...')
                .points-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-upper There is a lot to do around
                                    span.section-heading-lower Moon Landing RV Park and Marina
                                h3.section-heading.mb-4 
                                    | Ninety Six National Historic Site
                                p
                                    | Located on SC 248  Ninety Six, SC
                                    a(href="https://goo.gl/maps/SBhM1ZR4QmsmiCn6A") [map]
                                p.mb-0
                                    |The Visitors Center at Ninety Six National Historic Site makes an excellent starting point in Greenwood County.  Here, at the home of the Revolutionary War's first southern land battle, visitors will find much reconstructed history.  A mile-long trail includes the site of a frontier settlement with a trading post, a French and Indian War fort and extensive Revolutionary War fortifications.  Open daily 8 AM-5PM.  Free Admission   For more information call:  (864) 543-4068
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h3.section-heading.mb-4 
                                    | The Greenwood Museum 
                                p 
                                    | Located at 106 Main Street, Greenwood, SC
                                    a(href="https://goo.gl/maps/aAWBuhRhjLxXEqU69") [map]
                                p.mb-0
                                    | Take a stroll down Memory Lane as you are transported back to the turn of the century with a nostalgic walk down a city street.  Return to the gaslight and horse and buggy days as you walk by a parlor, kitchen, drug store, general store, and a one room schoolhouse.  The Museum displays Indian artifacts, a pioneer doctor's office, a geology collection, war relics, and mounted birds and animals.  Enjoy other displays and exhibits as well as browsing in the  Museum Gift Shop.  For information and hours, call:  (864) 229-7093
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h3.section-heading.mb-4 
                                    | Emerald Farm 
                                p 
                                    | Located at 409 Emerald Farm Road, Greenwood, SC
                                    a(href="https://goo.gl/maps/wKtLd3V6hTuz65xW8") [map]
                                p.mb-0
                                    | Located off Hwy 34, is a fully operational goat's milk farm which sells cheese and soaps in a delightful gift shop.  For information and hours, call:  (864) 223-2247
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h3.section-heading.mb-4 
                                    | The Railroad Historical Center
                                p 
                                    | Located at 908 South Main Street, Greenwood, SC
                                    a(href="https://goo.gl/maps/PytLFtLEY5RE23eB6") [map]
                                p.mb-0
                                    | The Railroad Museum is another point of interest, featuring railcars dating to the 18th century.  Step inside the past as you tour three restored rail cars from the Piedmont and Northern Railroad.  Open April-October.  For more information and hours, call:  (864) 229-7093
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h3.section-heading.mb-4 
                                    | Lander University
                                p 
                                    | Located on 320 Stanley Avenue, Greenwood, SC
                                    a(href="https://goo.gl/maps/yNWRYRon8YrRcY4n6") [map]
                                p.mb-0
                                    | Lander is a fully-accredited four year coeducational state university offering Bachelor of Arts and Bachelor of Science degrees in more than 40 major and minor areas and a masters program in elementary education.  Located on a 195 acre campus, Lander serves as a cultural center for the Greenwood Area.  For more information, call:  (864) 388-8000
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h3.section-heading.mb-4 
                                    | Musgrove Mill State Historic Site
                                p 
                                    | Located on Highway 56, Clinton, SC
                                    a(href="https://goo.gl/maps/msr7EKPJuYPtx3Ex9") [map]
                                p.mb-0
                                    | This state park protects a portion of the Musgrove Mill battlefield and scenic Horseshoe Falls of the Enoree River.  The park's interpretive center provides a history of the Revolutionary War battle and furthers the understanding of South Carolina's pivotal role in the creation of our nation.  Located approximately 7 miles NE of I-26, Exit 52.  Open Thursday - Monday 9AM-6PM.  For more information, call:  (864) 938-0100.
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h3.section-heading.mb-4 
                                    | Presbyterian College
                                p 
                                    | Located on 503 South Broad Street, Clinton, SC
                                    a(href="https://goo.gl/maps/Riruk5TPZvgU4GPv6") [map]
                                p.mb-0
                                    | Presbyterian College (PC) is a private four-year liberal arts school sitting on 212 acres nestled in the beautiful historic section of Clinton.  The school offers 25 majors including pre-professional programs in Christian education, dentistry, law, medicine, ministry, and veterinary science. For more information, call:  (864) 833-2820
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h3.section-heading.mb-4 
                                    | Newberry Opera House
                                p 
                                    | Located on 1201 McKibben Street, Newberry, SC
                                    a(href="https://goo.gl/maps/azGfKBeJazgmDarb8") [map]
                                p.mb-0
                                    | Located in the originally restored Opera House building, Newberry Opera House offers a whole variety of live entertainment.  For a listing of upcoming events or information, call:  (864) 276-6264
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h3.section-heading.mb-4 
                                    | Newberry College
                                p 
                                    | Located on 2100 College Street, Newberry, SC
                                    a(href="https://goo.gl/maps/3Bj6hy4yrxqxwM4t7") [map]
                                p.mb-0
                                    | Newberry college is a four year coeducational private college offering Bachelor of Arts and Bachelor of Science degrees.  For more information, call:  (864) 276-5010.
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h3.section-heading.mb-4 
                                    | Rose Hill Plantation
                                p 
                                    | Located on 2677 Sardis Road, Union, SC
                                    a(href="https://goo.gl/maps/Y147oPdH1oceG5TV9") [map]
                                p.mb-0
                                    | Rose Hill Plantation is the historical home and garden of the Secessionist Governor, William Tift.  The home is fully restored and furnished with Civil Ward period furnishings. Stroll through the garden, tour the home, or enjoy the hiking trail to the Tyger River.  For more information, call:  (864) 427-5966
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.p-5
                                h3.section-heading.mb-4 
                                    | Area Golf Courses
                                p 
                                    | (9 hole courses are excluded)
                                p.mb-0
                                    | Links at Stoney Point Golf Club  864-942-0900
                                    a(href="https://goo.gl/maps/LYZP8YEvpST2Pv1n8") [map]
                                    br
                                    | Star Fort At Ninety Six  864-543-2757
                                    a(href="https://goo.gl/maps/KUiqWcmZxCtk6CmT8") [map]
                                    br
                                    | Lakeside Country Club 864-682-3614
                                    a(href="https://goo.gl/maps/M8eejHrdbtHpSq8e6") [map]
                                    br
                                    | Persimmon Hill  803-275-3522 (Saluda pro shop)
                                    a(href="https://goo.gl/maps/UqK6E9K13f8eVcog9") [map]
                                    
        include includes/footer

        include includes/scripts
